body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border: 0px;
    margin: 0px;
    padding: 0px;
    /* width: 100vw; */
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px;
    margin: 20px; */
    width: 100%;
}

.headerHero{
    padding: 0px 20px;
}

.headerMenu {
    align-items: center;
    padding: 0px 20px;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    height: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    /* flex: initial; */
    /* height: auto; */
    flex-direction: column;
    justify-content: baseline;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    max-width: fit-content;
    /* padding: 5px; */
    /* margin: 5px; */
}

.addNewListDiv{
    flex:1;
}

.list,
.newListDiv{
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    
}

.item,
.toDoDiv {
    /* width: 90rem; */
    border: 1px solid skyblue;
    min-height: 100px;
    background-color: lightcoral;

}

#addBtn{
    border: none;
}

#addBtn:hover{
    font-weight: bold;
    background-color: gainsboro;
}

.items{
    display: block;
    border: 1px solid skyblue;
    min-height: 100px;
    background-color: lightcoral;
    border-radius: 2px;
}

.saveDiv{
    /* display: flex;
    justify-content: space-evenly; */
    padding: 10px;
}

.save{
    color: white;
    background-color: green;
    border-radius: 5px;
    border: 1px solid black;
    background-image: linear-gradient(180deg, rgb(82, 177, 82), rgb(37, 127, 37));
    font-weight: bold;
    display: inline;
}

.addListBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid skyblue;
    background-color: lightcoral;
    text-align: left;
    color: white;
    border-radius: 4px;
}

.btn:hover{
    font-weight: bold;
    text-decoration: underline;
    background-color: lightgrey;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(76, 175, 80, 0.01);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
    overflow: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    width: 80%;
  }

  .close{
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .title{
    margin-top: 40px;
  }

  input[type=text],
  textarea {
    display: block;
  }

  .inputVal {
    font-weight: bold;
  }

  checkbox:checked {
    text-decoration: line-through ;
  }

  .checklist{
    display: block;
  }

  .checkboxDiv {
    display: block;
  }

  .checkboxLabel {
    display: inline-block;
  }