body {
    color: white;
    background-color: darkslategrey;
    font-family: calibri;
}

.mainContent{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding: 20px;
}

#newBook {
    grid-column: span 1;
}

/* #form {
    display: none;
    padding: 20px;
} */

#formPopup {
    /* display: none; */
    padding: 20px;
    /* width: 225px; */
    border: 1px solid black;
    grid-column: 1;
}

html {
    font-family: sans-serif;
}
  
table {
border-collapse: collapse;
border: 2px solid rgb(200,200,200);
letter-spacing: 1px;
font-size: 0.8rem;
grid-column: 2;
grid-row: 1 span end;
}

td, th {
border: 1px solid rgb(190,190,190);
padding: 10px 20px;
}

td {
text-align: center;
}

caption {
padding: 10px;
}

