#grid-container {
    display: flex;
    flex-direction: row;
    /* justify-content: stretch; */
    flex-basis: 800px;
    /* flex-basis: auto; */
    aspect-ratio: 1/1;
    /* justify-content: space-evenly; */
}

.col {
    display: flex; 
    /* flex: 1; */
    flex-direction: column;
    /* justify-content:space-evenly;  */
    border: 1px solid black;
    /* padding: 300px */
}

.row {
    /* display:flex; */
    flex: 1;
    /* justify-content: space-evenly; */
    border: 1px solid black;
}

.mouseenter {
    background-color: black;
}



/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */