@font-face {
    font-family: "PoiretOne";
    src: url("/src/assets/PoiretOne-Regular.ttf");
}

#content{
    flex: 1;
    margin-top: 20px;
    display: flex; 
    flex-Direction: column; 
    align-Items: Center;
}

#content.bg{
    /* background-image: url(../assets/C&J\ WEDDING-363.jpg); */
    background-size: cover;
    background-position: center;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: "PoiretOne";
    background-color: rgba(28,110,164,0.2);
    /* width: 50vw; */
    /* background-color: lightgoldenrodyellow; */
}

img {
    width: 500px;
    height: auto;
    border: solid grey 1px;
    /* border-radius: 10px; */
    /* padding: 15px; */
    margin: 20px 0px;
}

h1{
    margin: 0;
    font-family: "PoiretOne";
    padding-left: 2.5vw;
}

#headerPara{
    border: solid forestgreen 1px;
    background-color: bisque;
    text-align: center;
    justify-content: center;
    font-family: "PoiretOne";
}

button{
    border: solid black 1px;
    border-style: solid none;
    background-color: bisque;
    /* border-radius: 2px; */
    font-family: "PoiretOne";

}
button:hover {
    border: solid black 1px;
    border-style: solid none;
}

#tabDiv{
    /* color: bisque; */
    /* background-color: forestgreen; */
    display: grid;
    grid-auto-flow: column;
    padding: 0px;
    font-size: large;
    /* gap: 0px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.contentDiv{
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contentDiv p {
    margin: 50px;
}

#menuHead {
    font-size: 60px;
    text-decoration: underline;
    /* font-weight: bold; */
    font-family: "PoiretOne";
    margin: 0px;
}

#menu {
    white-space: pre-line;
    text-align: center;
    font-family: "PoiretOne";
}

#footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

#menuSection{
    font-size: 30px;
    font-weight: bold;
}

#menuItem {
    /* padding-top: 20px; */
    font-weight: bold;
    font-size: 20px;
}   

#itemDesc {
    font-style: italic;
}

/* #tabOne {
    color: green;
}

#tabTwo {
    color: red;
}

#tabThree {
    color: orange;
} */

